{% extends "base.html" %}

{% block content %}

<h1>Dashboard</h1>

<div class="card-container">

    <a href="/vehicles-ui" class="dashboard-link">

        <div class="card">

            <h1>{{ vehicle_count }}</h1>

            <p>Vehicles</p>

        </div>

    </a>

    <div class="card">

        <h1>{{ vendor_count }}</h1>

        <p>Vendors</p>

    </div>

    <div class="card">

        <h1>{{ visit_count }}</h1>

        <p>Maintenance Visits</p>

    </div>

    <div class="card">

        <h1>{{ document_count }}</h1>

        <p>Documents</p>

    </div>

</div>

{% endblock %}