<!-- settings.html -->
 
{% extends "base.html" %}

{% block content %}

<h1>Settings</h1>

<div class="card">

    <h2>Catalogs</h2>

    <p>

        <a href="/vendors-ui"
           class="nav-link">

            Vendors

        </a>

    </p>

    <p>

        <a href="/service-catalog-ui"
           class="nav-link">

            Service Catalog
        </a>

    </p>

</div>

<div class="card">

    <h2>Archives</h2>

    <p>

        <a href="/vehicles-archived"
           class="nav-link">

            Archived Vehicles

        </a>

<!--   </p>

    <p>

        <a href="/service-records-archived"
           class="nav-link">

            Archived Service Records

        </a>

    </p>

    <p>

        <a href="/maintenance-visits-archived"
           class="nav-link">

            Archived Maintenance Visits

        </a>
    </p>    
--> 

{% endblock %}