<!-- vehicle_restore.html -->
 
{% extends "base.html" %}

{% block content %}

<h1>Restore Vehicle</h1>
    <p>
    <a href="/vehicle/{{ vehicle.id }}" class="nav-link">
        ← Back To Vehicle
        </a>
    </p>   
    
<div class="card">

    <h2>{{ vehicle.nickname }}</h2>

    <p>

        Restore this vehicle to the active vehicle list?

    </p>

    <form method="post">

        <button type="submit">

            ♻ Restore Vehicle

        </button>
   
    </form>
 
</div>

{% endblock %}